.card {
  background-color: black;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  color: white;
  height: 240px;
}

.card-image {
  width: 100%;
  height: 160px;
  object-fit: cover;
  display: block;
}

.card-content {
  padding: 0.5rem;
  border-top: 3px solid #ff0000;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row; /* Changed from column to row */
  justify-content: space-between; /* Added to space elements */
  align-items: center; /* Added to vertically center the items */
}

.character_name {
  flex-grow: 1; /* Allows the name to take up available space */
}

.favs {
  cursor: pointer; /* Ensure the fav icon has a pointer cursor */
}

.card::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0;
  background-color: #ff0000;
  transition: height 0.3s ease;
  z-index: 0;
}

.card:hover::after {
  height: calc(100% - 160px); /* Adjusted to match the new image height */
}

.card h2 {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.card p {
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  transition: color 0.3s ease;
  flex-grow: 1;
}

.card-button {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
  border-radius: 3px;
  font-size: 0.875rem;
  transition: background-color 0.3s ease;
  position: relative;
  z-index: 2;
  align-self: flex-start;
}

.card-button:hover {
  background-color: #0056b3;
}

.card:hover h2,
.card:hover p {
  color: #000;
}

.card a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.card a:hover {
  text-decoration: none;
}

.card-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.card-link:hover {
  text-decoration: none;
  color: inherit;
}
