.comics {
  width: 1, 512px;
  height: 526.8px;
  padding: 0px, 48px, 0px, 48px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.comic_box {
  width: 179.2px;
  height: 340.8px;
  position: relative;
}

.comic_box img {
  width: 179.2px;
  height: 268.8px;
  object-fit: cover;
}

.comic_details {
  width: 179.2px;
  height: 60px;
}
