.character_resume {
  width: 100%;
  max-width: 1, 512px;
  height: auto;
  min-height: 320px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
}

.character_resume_content {
  width: 100%;
  mac-width: 960px;
  height: auto;
  justify-content: center;
  display: flex;
  align-items: center;
  color: white;
  text-align: center;
}

.character_resume_content img {
  width: 100%;
  max-width: 320px;
  height: auto;
}

.character_info {
  width: 100%;
  max-width: 640px;
  height: auto;
  color: white;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}

.character_details_name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.row2 {
  margin-top: 10px;
  text-align: right;
}

.favs_details img {
  width: 24px;
  height: 21.68px;
}

@media only screen and (max-width: 768px) {
  .character_resume_content {
    flex-direction: column;
  }
  .character_info {
    margin-left: 0;
    margin-top: 20px;
  }
}