.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: red;
  min-height: 84px;
  padding: 16px 48px;
  background-color: #000000;
}

.logo {
  margin-right: 16px;
}

.marvel-logo {
  width: 130px;
  height: 52px;
  top: 4px;
  left: 4px;
  gap: 0px;
  opacity: 0.5; 
}

.favorites {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 56px;
  height: 37.68px;
}

.favorites a {
  text-decoration: none;
}

.favorites img {
  width: 24px;
  height: 21.68px;
}

.fav_counter {
  color: white;
  width: 8px;
  height: 19px;
  text-align: center;
  margin-left: 10px;
  font-size: 16px;
}

@media (min-width: 300px) {
  .header {
    min-height: 54px;
    padding: 16px 20px;
  }
}

@media (min-width: 640px) {

}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}

@media (min-width: 1280px) {

}

@media (min-width: 1536px) {

}