.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  height: 84px;
  padding: 16px 48px 16px 48px;
}

.logo {
  margin-right: 16px;
}

.marvel-logo {
  width: 130px;
  height: 52px;
  top: 4px;
  left: 4px;
  gap: 0px;
  opacity: 0.5; /* Adjust the opacity as needed */
}

.favorites {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 56px;
  height: 37.68px;
}

.favorites a {
  text-decoration: none;
}

.favorites img {
  width: 24px;
  height: 21.68px;
}

.fav_counter {
  color: white;
  width: 8px;
  height: 19px;
  text-align: center;
  margin-left: 10px;
  font-size: 16px;
}

/* Mobile screen media query */
@media (min-width: 768px) and (max-width: 1024px) {
  .header {
    padding: 16px;
  }
}
