.search_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 77px;
  padding: 12px 48px;
  gap: 12px;
}

.input_container {
  width: 1416px;
  height: 27px;
  border: none;
  border-bottom: 1px solid black;
  outline-color: transparent;
}

.result-text {
    margin-top: -10px;
}

@media (min-width: 300px) {
  .search_wrapper {
    height: 77px;
    padding: 12px 6px;
    gap: 12px;
  }
}

@media (min-width: 640px) {

}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}

@media (min-width: 1280px) {

}

@media (min-width: 1536px) {

}