.search_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 77px;
  padding: 12px 48px;
  gap: 12px;
}

.input_container {
  width: 1416px;
  height: 27px;
  border: none;
  border-bottom: 1px solid black;
  outline-color: transparent;
}

.result-text {
    margin-top: -10px;
}