.search_wrapper {
  width: 1.512px;
  height: 77px;
  padding: 12px 48px 12px 48px;
  gat: 12px;
}

.input_field {
  width: 1,416px;
  height: 27px;
  border: 0px, 0px, 1px, 0px;
  padding: 0px 0px 8px 0px;
  gap: 12px;
}