.comic_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 960px;
  height: 526.8px;
  margin: 0 auto; /* Center the container horizontally */
  padding: 0 48px;
}

#slider_content {
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: red #f0f0f0;
  margin-top: 20px;
}

.comic {
  width: 960px; /* or 100% if you want it to be responsive */
  height: 38px;
  color: black;
  position: absolute;
  top: 0;
  margin-top: 20px;
  display: flex;
  justify-content: flex-start; /* Aligns items to the left */
  align-items: center;
}

.episode-title {
  margin: 0; /* Remove default margins */
  padding-left: 16px; /* Optional: Add some padding for spacing */
}

.comic_des {
  margin-top: -18px;
}

.slider_image_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 16px;
}

.episode-image {
  width: 100px; /* Adjust size as needed */
  height: auto;
  object-fit: cover;
  margin-bottom: 8px;
}

.episode_box {
  text-align: center;
}

/* Media Queries */
@media (min-width: 300px) {
  .comic_container {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 640px) {
  .comic_container {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  .comic_container {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1024px) {
  .comic_container {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1280px) {
  .comic_container {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1536px) {
  .comic_container {
    margin-left: auto;
    margin-right: auto;
  }
}